* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

.container1 {
    width: 1490px;
    margin: 0 auto;
}

.container2 {
    width: 1920px;
    margin: 0 auto;
}

.adres {
    color: #666666;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
}

.small-one {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.buttons {
    display: flex;
}

.vector {
    padding-left: 4px;
    padding-right: 20px;
}

.palka {
    padding-right: 20px;
}

.buttons-nav {
    font-size: 12px;
    color: #666666;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
    padding-right: 20px;
    border: 0;
}

.slash {
    size: 12px;
    color: #666666;
    padding-right: 20px;
    padding-left: 20px;
}

.mappin {
    padding-right: 8px;
}

.buttons-nav1 {
    font-size: 12px;
    color: #666666;
    background-color: white;
    cursor: pointer;
    border: 0;
}

.logo{
    padding: 27.5px 0;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-text{
    font-size: 32px;
    font-weight: 500;
    padding-left: 8px;
}

.middle-one{
    display: flex;
    align-items: center;
}

.search{
    display: flex;
    align-items: center;
}

.search-form-input{
    border: 1px solid #E6E6E6;
    border-radius: 6px;
    padding: 14px 24px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 15px;
}

.search-form-btn{
    border: 1px solid #E6E6E6;
    cursor: pointer;
    border-radius: 6px;
    padding: 14px 24px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #00B207;
    color: white;
    font-size: 14px;
    font-weight: 600;

}

.product-button{
    cursor: pointer;
}


