* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

.container1 {
    width: 1490px;
    margin: 0 auto;
}

.container4 {
    width: 1520px;
    margin: 0 auto;
}

.container5 {
    width: 312px;
    margin: 0 auto;
}

.container6 {
    width: 312px;
    height: 426px;
    margin: 0 auto;
}

.container7{
    width: 424px;
    height: 254px;
    margin: 0 auto;
}

.adres {
    color: #666666;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
}

.small-one {
    border-bottom: 1px solid rgba(128, 128, 128, 0.24);
}

.small-one {
    height: 42px;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.buttons {
    display: flex;
}

.shopping-money{
    font-weight: 600;
    padding-top: 5px;
}

.vector {
    padding-left: 4px;
    padding-right: 20px;
}

.palka {
    padding-right: 20px;
}

.buttons-nav {
    font-size: 12px;
    color: #666666;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
    padding-right: 20px;
    border: 0;
}

.slash {
    size: 12px;
    color: #666666;
    padding-right: 20px;
    padding-left: 20px;
}

.mappin {
    padding-right: 8px;
}

.buttons-nav1 {
    font-size: 12px;
    color: #666666;
    background-color: white;
    cursor: pointer;
    border: 0;
}

.logo {
    padding: 27.5px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 32px;
    font-weight: 500;
    padding-left: 8px;
}

.middle-one .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
}

.search-form-input {
    border: 1px solid #E6E6E6;
    border-radius: 6px;
    padding: 14px 24px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 15px;
}

.search-form-btn {
    border: 1px solid #E6E6E6;
    cursor: pointer;
    border-radius: 6px;
    padding: 14px 24px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #00B207;
    color: white;
    font-size: 14px;
    font-weight: 600;

}

.product-button {
    cursor: pointer;
    background-color: white;
}

.product-button:hover {
    background-color: green;
}

.shopping {
    display: flex;
}

.shopping-devider {
    padding: 5px 16px;
}

.shopping-card {
    padding-right: 12px;
}

.nav-links .container{
    display: flex;
    justify-content: space-between;
    background-color: #333333;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    background-color: #333333;
}

.nav-links-item {
    padding: 19.5px 0;
    color: #999999;
}

.nomer-link {
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 8px;
}

.nav-links-ul .container{
    display: flex;
}

.nav-links-ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-now {
    display: flex;
    align-items: center;
}

.nav-links-link {
    text-decoration: none;
    color: #999999;
}

.nav-links-item:not(:last-child) {
    padding-right: 32px;
}

.fearured-products {
    margin-bottom: 50px;
}

.fearured-products-flex {
    text-align: center;
    margin-bottom: 50px;
}

.fearured-products-title {
    font-weight: 600;
    font-size: 40px;
}

.Products {
    display: flex;
}

.product-button {
    border: 0;
    padding-right: 16px;
}

.all-fearured-products-flex {
    display: flex;
    justify-content: space-between;
}

.product-price {
    font-size: 16px;
    font-weight: 500;
    padding: 6px 0;
}

.product1 {
    margin-right: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
}

.product2 {
    margin-right: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
}

.product3 {
    margin-right: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
}

.product4 {
    margin-right: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
}

.product5 {
    border: 1px solid #E6E6E6;
    border-radius: 8px;
}

.product-name {
    padding-top: 12px;
}

.all-products .container {
    display: flex;
}

.product11 .container5 {
    display: flex;
    align-items: center;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
}

.product11 {
    margin-right: 35px;
}

.flex-deals {
    padding-left: 12px;
    padding-right: 110px;
}

.titles {
    margin-bottom: 25px;
    font-weight: 500;
}

.product11 {
    margin-bottom: 15px;
}

.top-category-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
}

.top-category-title {
    font-weight: 600;
}

.flex-featured-products {
    padding: 12px 16px 16px 16px;
}

.newest-products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0 50px 0;
}

.flex-newest-products {
    display: flex;
    flex-direction: column;
}

.newest-line-flex {
    display: flex;
}

.newest-line-two {
    padding: 0 4px;
}

.newest-products-title {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 16px;
}

.view-all {
    text-decoration: none;
    padding-right: 12px;
    color: #00B207;
}

.newest-link-view-all {
    display: flex;
    align-items: center;
}

.money-flex {
    display: flex;
    align-items: center;
}

.all-products-price1 {
    padding: 6px 2px 6px 0;
    font-weight: 500;
    font-size: 16px;
}

.all-products-price2 {
    font-weight: 400;
    font-size: 16px;
    color: #999999;
}

.all-products-name {
    font-size: 14px;
}

.all-products-seller-name {
    font-size: 14x;
}

.all-products-deals-name {
    font-size: 14px;
}

.all-products-seller-price {
    padding: 6px 0;
    font-weight: 500;
    font-size: 16px;
}

.all-products-price {
    padding: 6px 0;
    font-weight: 500;
    font-size: 16px;
}

.all-products-deals-price {
    padding: 6px 0;
    font-weight: 500;
    font-size: 16px;
}

.summer-sale .container6{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(imghomepage/sale.svg);
}

.summer-sale-title{
    font-size: 13px;
    font-weight: 500;
    color: #1A1A1A;
    padding-top: 46.8px;
}

.sale-flex{
    display: flex;
}

.sale-button{
    font-weight: 600;
    display: flex;
    align-items: center;
    border-radius: 43px;
    padding: 14px 32px;
    color: #00B207;
    background-color: #FFFFFF;
    border: 0;
    cursor: pointer;
}

.sale-button-name{
    padding-right: 12px;
}

.sale-flex-flex{
    display: flex;
    align-items: center;
    padding: 8px 0 16px 0;
}

.sale{
    color: #00B207;
    font-weight: 600;
    font-size: 32px;
}

.sale-off{
    font-size: 32px;
    font-weight: 600;
    color: #00B207;
    padding-left: 5px;
}

.top-category-main .container1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.top-category-title{
    font-size: 40px;
    font-weight: 600;
}

.top-category-header{
    margin-bottom: 50px;
}

.button-aoorw{
    border: 0;
    background-color: white;
    cursor: pointer;
}

.category-name{
    padding: 20px 0 6px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.category-amount{
    padding-bottom: 24px;
    font-size: 14px;
    font-weight: 400;
}

.category{
    border: 1px solid #E6E6E6;
    border-radius: 8px;
}

.category-border{
    padding: 32px 50px 10px 50px;
}

.category-border1{
    padding: 32px 25px 10px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client-testimonail .container{
    justify-content: space-between;
    display: flex;
}

.client-testimonail-header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial-lines{
    display: flex;
}

.fresh-healthy .container4{
    background-image: url(imghomepage/freshbg.svg);
}

.fresh-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fresh-info-img{
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.fresh-info-welcome{
    color: #00B207;
    font-size: 14px;
    font-weight: 500;
}

.fresh-info-text1{
    font-size: 72px;
    font-weight: 600;
    padding-top: 10px;
}

.fresh-info-text2{
    font-size: 72px;
    font-weight: 600;
}

.fresh-info-sale{
    display: flex;
    padding: 28px 0 12px 0;
}

.fresh-info-sale-sale{
    padding-right: 5px;
    font-size: 32px;
    font-weight: 400;
}

.fresh-info-sale-sale1{
    color: #FF8A00;
    font-size: 32px;
    font-weight: 400;
}

.fresh-healthy{
    margin-top: 27px;
}

.fresh-img{
    padding-top: 121px;
}

.fresh-info-sale-text{
    color: #808080;
    padding-bottom: 32px;
}

.fresh-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    font-weight: 600;
    border-radius: 43px;
    padding: 14px 32px;
    color: #FFFFFF;
    background-color: #00B207;
    border: 0;
    cursor: pointer;
}

.fresh-button-name{
    padding-right: 12px;
}

.fresh-lines{
    display: flex;
    justify-content: center;
    padding: 71px 0 40px 0;
}

.line-two-two{
    padding: 0 8px;
}

.client-testimonail-title{
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 10px;
    padding-top: 100px;
}

.line-flex1{
    margin-bottom: 50px;
}

.testimonail-flex-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px 24px 24px;
}

.testimonail-flex-about{
    display: flex;
    flex-direction: column;
}

.testimonail-figure-full-about{
    display: flex;
    align-items: center;
}

.testimonail-figure-photo{
    padding-right: 12px;
}

.testimonail-apostrof{
    padding: 24px 0 16px 24px;
}

.testimonail-figure-text{
    padding-left: 24px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.671);
    line-height: 130%;
}

.testimonail-figure{
    width: 424px;
    height: 254px;
    background-color: white;
    border-radius: 10px;
    border: 8;
    
}

.client-testimonail{
    height: 630px;
    background-color: #b4ccb452;
}

.button-aoorw{
    background-color: #b4ccb400;
}

.tracker{
    display: flex;
    justify-content: center;
}

.testimonail .container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.insta{
    margin-top: 100px;
    margin-bottom: 50px;
    padding-bottom: 100px;
}

.folow-flex{
    display: flex;
    justify-content: space-between;
}

.folow-text{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 32px;
}

.subscribe-header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;

}

.subscribe-logo{
    display: flex;
    align-items: center;
}

.subscribe-logo-text{
    font-size: 39px;
    font-weight: 500;
    padding-left: 9.7px;
}

.subscribe-title{
    font-size: 24px;
    font-weight: 500;
}

.subscribe-text{
    font-size: 14px;
    font-weight: 400;
    color: rgba(128, 128, 128, 0.637);
    padding-top: 10px;
}

.subscribe-form-input{
    padding: 14px 120px 14px 24px;
    border: 1px solid rgba(128, 128, 128, 0.205);
    border-top-left-radius: 46px;
    border-bottom-left-radius: 46px;
    border-right: white;
}

.subscribe-form-btn{
    padding: 14px 24px 14px 24px;
    border: 1px solid white;
    background-color: #00B207;
    border-top-right-radius: 46px;
    border-bottom-right-radius: 46px;
    border-top-left-radius: 46px;
    border-bottom-left-radius: 46px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.main-footer .container{
    display: flex;
    justify-content: space-between;
}

.about-shop{
    width: 336px;
    list-style: none;
    text-decoration: none;
}

.subscribe-form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}